.headerLeft {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.headerIcon{
    border-radius: 50%;
}

.headerIcon svg{
    background-color: transparent;
}
.headerLeftHeading {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .headerLeftHeading {
        font-size: 20px;
    }

    .headerIcon {
        padding: 0;
    }
}
